*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(41, 97, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
}
.logo p{
    color: white;
    position: relative;
    
}
.search{
    background-color: white;
    padding: 6px;
    width: 350px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.search input{
    border: none;
}

.morenav{
    margin: 0px 30px;
    color: white;
}
.products{
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 15px 60px;
    border-bottom: 1px solid;
    
}
.category{
    width: 80px ;
    height: 100;
    cursor: pointer;
    flex: 1;


}
.category img{
    width: 64px;
    height: 64px;
}
.banner img{
    width: 100%;
   
    
}
.items{
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 15px 60px;
}
.ads{
    width: 200px;
    height: 200px;
    padding: 15px;
}